flask
flask_cors
flask_socketio
pandas
selenium
webdriver-manager
python-dotenv
Celery
Redis
apscheduler==3.8.1
mysql-connector-python
mysql-connector-python
pytz
flask_apscheduler
flask_mysql_connector
flask-mysql-connector
Django
mysqlclient